[Desktop Entry]
Name=Hyprland (UWSM + Nix)
Comment=An intelligent dynamic tiling Wayland compositor, UWSM managed
Exec=/usr/local/bin/uwsm start -F /usr/local/bin/Hyprland
Type=Application
DesktopNames=Hyprland
Keywords=tiling;wayland;compositor;
