[Desktop Entry]
Name=Hyprland (UWSM)
Comment=An intelligent dynamic tiling Wayland compositor
Exec=/usr/local/bin/uwsm start -F /usr/local/bin/Hyprland
Type=Application
DesktopNames=Hyprland
Keywords=tiling;wayland;compositor;
