box.padded {
  padding: 20px;
}

label.title {
  font-size: 30px;
}

button.main_button {
  margin: 10px;
  font-size: 20px;
  padding: 30px;
}

button.toggle_button {
  margin: 5px;
  font-size: 16px;
  padding: 15px;
}

button:focus {
  outline: 4px solid #7f849c;
  outline-offset: 2px;
}
